@media (max-width: 540px) {

	.alt_div_shade > div {
		padding-left: 0px;
	}

	.alt_div_shade > div > h2 {
		padding-left: 6px;
	}

	#codes-table-mid > div {
		padding: 6px;
	}

	#example_message {
		padding-left: 38px;
	}

	#more .sidebar-nav-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#more .sidebar-nav-group + .sidebar-nav-group {
		margin-top: 24px;
	}

}

@media (min-width: 540px) {

	#codes-table-mid {
		height:192px;
	}

	#codes-table-mid > div {
		display: inline-block;
		position: relative;
		height: 100%;
		width: 25%;
	}

	#codes-table-mid > div > div {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%,-50%);
	}

}
