#basis_image svg {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	max-width: 460px;
}

span#bar-code, span#qr-code {
	display: inline-block;
	width: 147px
}

#codes-table {
	text-align: center;
	border-spacing: 50px 48px;
	margin: 36px auto 0;
	border-width: 2px
}

#comparison-table .t-data {
	width: 48px;
	text-align: center;
	display: inline-block;
}

.tbl-col {
	display: inline-block;
	margin-top: 10px;
}

#codes-table-label {
	margin: 20px 0
}

#codes-table-top {
	margin: 20px;
	font-size: 17px;
	font-weight: bold;
	color: #A9A9A9
}

/* #codes-table-mid > div:nth-child(2) > div {
	font-weight: bold;
	color: #69B7CF
}
 */
#codes-table-bottom {
	margin: 20px;
	font-size: 17px;
	font-weight: bold;
	color: #DEDEDE
}

#codes-table-bottom > span {
	font-weight: bold;
	color: #69B7CF
}

summary::-webkit-details-marker {
	color: #ddd
}

.example {
	margin: 40px auto;
}

.example span {
	padding: 6px;
	font-size: large;
	white-space: nowrap;
}

.example_title {
	color: #AAA;
}

.example_data {
	color: #69b7cf;
	letter-spacing: 0.116em;
}

.example_connector {
	color: #DDD;
}

.example_wcode {
	color: #69b7cf;
}

#example ol {
	padding-left: 20px;
}

#example_message {
	padding-left: 84px;
}

#apps {
	background: linear-gradient(to right, #fAfAfA 20%, white)
}

#apps .page-list > .item_block_container {
	margin-left: 12px;
	margin-right: 12px;
	border: solid 5px #ffffff;
}

html.dark-mode #apps {
	background: linear-gradient(to right, #222244 20%, #1a1a2e);
}

html.dark-mode #apps .page-list > .item_block_container {
	border: none;
}

#more {
	padding-bottom: 24px;
}