#wordlist-version {
	font-size: smaller;
}

#wordlist-links {
	text-align: right;
}

#wordlist-table {
	border-spacing: 10px 10px;
}

#wordlist-table .word-item {
	width: 140px;
	display: inline-block;
	color: #69b7cf;
}

#wordlist-table .word-emoji {
	width: auto;
	display: inline;
	margin-right: 2px;
}

#wordlist-table .word-text {
	width: auto;
	display: inline;
}

#wordlist-table {
	min-height: 280px;
}

#wordlist_search {
	margin: 20px;
}

#search-button_icon_wordlist {
	padding-right: 4px;
}

#word_search_box {
	background-color: white;
	color: #69b7cf;
	outline: none;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: #d9d9d9;
	font-size: larger;
	text-transform: lowercase;
}

#word_search_box::placeholder {
	color: #c9c9c9;
	font-size: 10;
}

#search_input_clear {
	cursor: pointer;
}

.primary {
	margin-top: 10px;
	margin-left: 34px;
}

.primary > div:first-child {
	font-size: larger;
}

.secondary {
	margin-left: 40px;
}

.secondary > div:first-child {
	font-size: large;
}

.primary .secondary > div > .word-item {
	margin-left: 40px;
}

#words-remaining {
	margin-left: 58px;
}

#wordlist-table-separator {
	margin: 32px auto 22px;	
	border-top: 1px dashed #f96969;
	max-width: 240px;
}

#wordlist-table-black {
	margin-top: 10px;
	margin-bottom: 12px;
}

#wordlist-table-white > div:nth-child(2) * {
	color: #aaa !important;
}

#wordlist-table-white > div:first-child * {
	color: #93b04b !important;
}

#wordlist-table-black span {
	color: #f96969 !important;
}
